@charset "utf-8";
@import url(reset.css);


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

nav ul li {
	display: table-cell;
	width: 20%;
	text-align: center;
	/* margin-right: 2%; */
	border: thin solid rgba(127,96,17,1.00);
	border-collapse: collapse;
}

nav ul {
    list-style: none;
	display: table-row;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
	display: block;
}

nav ul li a:hover {
    color: #ffc107; /* Change color on hover */
}
