@charset "utf-8";
@import url("base.css");

table.schedule {
    background: white;
    border: 10px outset rgb(153, 0, 153);
    border-collapse: collapse;
    font-size: 0.75em;
    width: 100%;
}


/* Table Cell Styles */
table.schedule th,
table.schedule td {
    border: 1px solid gray;
    padding: 5px;
    vertical-align: top;
}


/* Table Caption Styles */
table.schedule caption {
    caption-side: bottom;
    text-align: right;
}


/* Row Group Styles */
table.schedue thead {
    background: rgb(153, 0, 153);
    color: white;
}

table.schedule tfoot {
    background: black;
    color: white;
}

table.schedule thead tr {
    height: 30px;
}

table.schedule tbody tr {
    height: 40px;
}

/* Column Group Styles */
col#firstCol {
    background: rgb(218, 210, 218);
    width: 16%;
}

col.dayCols {
    background: rgb(255, 220, 255);
    width: 12%;
}

div {
    display: flex;
    flex-direction: row;
}

section#restaurant {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    background: rgb(153, 0, 153);
    padding: 5px;
}

section#chromebookRepair {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    background: rgb(153, 0, 153);
    padding: 5px;
}


section header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

footer {
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
}

@media only screen and (max-aspect-ratio: 1/1) {
    div {
        flex-direction: column;
    }

    section#restaurant {
        margin: 0%;
        margin-bottom: 10px;
    }

    section#chromebookRepair {
        margin: 0%;
    }

}